*.py[cod]
.pip.ini
.interactive
bin/,!packages/bin
env/
build/
*.egg-info
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/,!packages/lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
env/
venv/
!venv/requirements.txt
*.json
